<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Missouri Medicaid Employment Verification</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<h2>New Dashboard</h2>

<button th:onclick="'window.location.href=\'' + @{/user/login} + '\''">
    Applicants Dashboard
</button>
<button th:onclick="'window.location.href=\'' + @{/employer/index} + '\''">Employer Dashboard</button>
</body>
</html>