<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <title>Medicaid Employment Verification App</title>
</head>
<body class="container-fluid">


<div class="jumbotron" align="center" >
    <h1 class="display-3">Medicaid Employment Verification App</h1>
    <p class="lead">Missouri Medicaid Verification Portal</p>
    <hr class="my-4"/>

    <p class="lead">
        <a class="btn btn-primary btn-lg" role="button" href="/user/sign-up">Sign up!</a>
    </p>

</div>


</body>
</html>