<!-- Developed by Kaye Jamerson -->
<!-- Updated by Dana Paquet -->
<!-- Updated by Kaye Jamerson -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="~{fragments :: head}">
    <title>Medicaid Employment Verification App</title>
</head>
<body>
<nav>
    <a th:href="@{/}" class="active">Home</a>
    <a th:href="@{/user/login}">Applicant</a>
    <a th:href="@{/employer/login}">Employer</a>
    <a href="#adminLogin">Medicaid Employee</a>
</nav>
<h1>Missouri Medicaid Applicant Portal</h1>
<section class="main">
    <div class="container">
        <div class ="wrapper">
            <!-- Description -->
            <div class="coldescription">
                <h2>
                    Welcome to the Missouri Medicaid Employment Verification Portal
                </h2>
                    Thank you for using the Missouri Medicaid Employment Verification Portal.
                    <br><br>
                    This portal is designed for individuals applying for Medicaid benefits to securely submit and track their employment information. By providing accurate details, you help ensure a smooth and timely eligibility determination process.
                    <br><br>
                    Through this portal, you can complete your application, update your employment information, and respond to verification requests from your employer or the Medicaid program.
                    <br><br>
                    Your participation helps ensure that Medicaid benefits are delivered efficiently to those who qualify, supporting access to essential healthcare services across Missouri.
            </div>
            <!-- Form -->
            <div class="colform">
                <h2>
                    Sign-In Below
                </h2>
                <form th:action="@{/user/login}" th:object="${user}" method="post">

                    <p th:if="${error}" style="color:red;" th:text="${error}"></p>

                    <label class="form" th:for="username">Username:</label>
                    <input type="text" id="username" th:field="*{username}" placeholder="Enter Username" required />
                    <label class="form" th:for="password">
                        Password:
                    </label>
                    <input type="password" th:field="*{password}" placeholder="Enter Password" required />
                    <button type="submit" class="btn-primary">
                        Sign in
                    </button>
                    <a href="#!">
                        Forgot password?
                    </a>
                    <div class="register">
                        <p> Don't have an account? </p>
                        <a th:href="@{/user/sign-up}"><button type="button" class="btn-secondary">Applicants Register Here</button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const togglableFields = ['pin', 'password', 'verifyPassword'];

    togglableFields.forEach(id => {
      const input = document.getElementById(id);
      if (input) {
        input.addEventListener('dblclick', function () {
          input.type = input.type === 'password' ? 'text' : 'password';
        });
      }
    });
  });
</script>
</body>
</html>
