<!-- Developed & Updated by Dana Paquet -->
<!-- v3 Thymeleaf + validation + original formatting -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments :: head}">
</head>
<body>
<!-- Navbar -->
<nav>
    <a class="navbar-brand" th:href="@{/user/user-dashboard}">Dashboard</a>
    <a class="navbar-brand" th:href="@{/user/user-employment-verification-form}">Employment Verification</a>
    <a class="nav-link" th:href="@{/user/logout}">Log Out</a>
</nav>

<!-- Header -->
<header class="my-4">
    <h1 class="text-center">Missouri Medicaid Employment Verification</h1>
    <h2>To Be Completed By Medicaid Applicants</h2><br>
</header>

<!-- Form -->
<div class="form-container">
    <form th:action="@{/user/user-employment-verification-form}" th:object="${userEmploymentInfo}" method="post" enctype="multipart/form-data">
        <!-- Employment Info -->
        <fieldset>
            <legend>Enter Employment Information</legend>
            <div class="row mb-3">
                <div class="col-12 col-md-6">
                    <input class="form-control" th:field="*{employerName}" type="text" placeholder="Employer Name..." th:disabled="${!editMode}" />
                    <p class="text-danger" th:if="${#fields.hasErrors('employerName')}" th:errors="*{employerName}"></p>
                </div>
                <div class="col-12 col-md-6">
                    <input class="form-control" th:field="*{employerTaxId}" type="text" placeholder="Employer Tax Id..." th:disabled="${!editMode}" />
                    <p class="text-danger" th:if="${#fields.hasErrors('employerTaxId')}" th:errors="*{employerTaxId}"></p>
                </div>
            </div>
        </fieldset>

        <!-- Address -->
        <fieldset>
            <legend>Employer Address</legend>
            <div class="row mb-3">
                <div class="col-12">
                    <input type="text" th:field="*{address}" class="form-control" placeholder="Street Address" th:disabled="${!editMode}">
                    <p class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6">
                    <input type="text" th:field="*{city}" class="form-control" placeholder="City" th:disabled="${!editMode}">
                    <p class="text-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text" th:field="*{state}" class="form-control" placeholder="State" th:disabled="${!editMode}">
                    <p class="text-danger" th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6">
                    <input type="text" th:field="*{zip}" class="form-control" placeholder="ZIP" th:disabled="${!editMode}">
                    <p class="text-danger" th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></p>
                </div>
                <div class="col-12 col-md-6">
                    <input type="text" th:field="*{country}" class="form-control" placeholder="Country" th:disabled="${!editMode}">
                    <p class="text-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></p>
                </div>
            </div>
        </fieldset>

        <!-- Employment Information -->
        <fieldset>
            <legend>Employment Information</legend>
            <div class="row mb-3">
                <div class="col-12 col-md-4">
                    <label for="hoursWorked" class="form-label mt-4">Hours worked monthly</label>
                    <select class="form-select" th:field="*{hoursWorked}" id="hoursWorked" th:disabled="${!editMode}">
                        <option value="">--Select--</option>
                        <option value="Less than 10">Less than 10</option>
                        <option value="11 to 20">11 to 20</option>
                        <option value="21 to 30">21 to 30</option>
                        <option value="31 to 40">31 to 40</option>
                        <option value="More than 40">More than 40</option>
                    </select>
                    <p class="text-danger" th:if="${#fields.hasErrors('hoursWorked')}" th:errors="*{hoursWorked}"></p>
                </div>

                <div class="col-12 col-md-4">
                    <label for="employmentLength" class="form-label mt-4">Length of Employment</label>
                    <select class="form-select" th:field="*{employmentLength}" id="employmentLength" th:disabled="${!editMode}">
                        <option value="">--Select--</option>
                        <option value="Less than 1 month">Less than 1 month</option>
                        <option value="1 to 6 months">1 to 6 months</option>
                        <option value="7 months to 1 Year">7 months to 1 Year</option>
                        <option value="More than 1 Year">More than 1 Year</option>
                    </select>
                    <p class="text-danger" th:if="${#fields.hasErrors('employmentLength')}" th:errors="*{employmentLength}"></p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-12 col-md-6">
                    <label class="form-label mt-4">Tax Identification Number(TIN)</label>
                    <input class="form-control" th:field="*{tin}" type="text" placeholder="TIN..." th:disabled="${!editMode}" />
                    <p class="text-danger" th:if="${#fields.hasErrors('tin')}" th:errors="*{tin}"></p>
                </div>
                <div class="col-12 col-md-4">
                    <label class="form-label mt-4">Currently Employed?</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{isCurrentlyEmployed}" id="yesEmployer" value="true" th:disabled="${!editMode}">
                        <label class="form-check-label" for="yesEmployer">Yes</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" th:field="*{isCurrentlyEmployed}" id="noEmployer" value="false" th:disabled="${!editMode}">
                        <label class="form-check-label" for="noEmployer">No</label>
                    </div>
                </div>
            </div>

            <div>
                <label for="exampleTextarea" class="form-label mt-4">Additional Notes</label>
                <textarea class="form-control" th:field="*{notes}" id="exampleTextarea" rows="3" th:disabled="${!editMode}"></textarea>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label for="formFile" class="form-label mt-4">Upload employment verification documents</label>
                    <input class="form-control" type="file" id="formFile" name="file" th:disabled="${!editMode}">
                </div>
            </div>
        </fieldset>

        <!-- Certification Checkbox -->
        <fieldset>
            <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" th:field="*{certified}" id="flexCheckDefault" th:disabled="${!editMode}" />
                <label class="form-check-label" for="flexCheckDefault">
                    I certify that the information provided is true, complete, and accurate to the best of my knowledge. I understand that providing false or misleading information may result in penalties or loss of benefits.
                </label>
                <p class="text-danger" th:if="${#fields.hasErrors('certified')}" th:errors="*{certified}"></p>
            </div>
        </fieldset>

        <!-- Save / Edit Buttons -->
        <div class="mb-3">
            <button type="submit" class="btn btn-primary" th:if="${editMode}">Save</button>
            <a th:href="@{/user/user-employment-verification-form(edit='true')}" class="btn btn-secondary" th:if="${!editMode and !userEmploymentInfo.isVerified}">Edit</a>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
