<!-- Developed & Updated by Dana Paquet -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Missouri Medicaid Employment Verification</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-jLKHWMZtGQjC1+KSU5uEwZnDOf6PLr9D6Ui3vN4r+8BWzH9GajI0b5WQ1FQ9g17T"
            crossorigin="anonymous"
    />

</head>
<body>

</body>
</html>